.connect-container{
  margin-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://www.mcisolutions.com.vn/media/home/connect-banner.jpg");
  padding: 40px 0;
}